/* 
 * General code blocks 
 */

.prose pre {
  padding-left: 0;
  padding-right: 0;
  line-height: 1.8;
}

.prose code {
  font-weight: normal;
  font-size: 0.8125rem;
}

/* 
 * Code blocks inside <pre> tags
 */

.prose pre code {
  display: grid;
}

.prose pre code > .line {
  padding: 0 1.125rem;
  border-left: 2px solid transparent;
}

.prose pre code > .line.line--highlighted {
  background: rgba(200, 200, 255, 0.1);
  border-left-color: #9ecbff;
}

.prose pre:not([data-language='text'], [data-language='bash']) code {
  counter-reset: line;
}

.prose
  pre:not([data-language='text'], [data-language='bash'])
  code
  > .line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  text-align: right;
}

.prose pre code[data-line-numbers-max-digits='2'] > .line::before {
  width: 2rem;
}

.prose pre code[data-line-numbers-max-digits='3'] > .line::before {
  width: 3rem;
}

/* 
 * Code blocks NOT inside <pre> tags
 */

.prose :where(:not(pre) > code) {
  background-color: #d8dee9ff;
  color: #2e3440;
  padding: 2px 6px;
  margin: 0 2px;
  border-radius: 4px;
}
@media (prefers-color-scheme: dark) {
  .prose :where(:not(pre) > code) {
    background-color: #2e3440;
    color: #d8dee9ff;
  }
}

.prose :where(:not(pre) > code)::before,
.prose :where(:not(pre) > code)::after {
  content: '';
}

/* 
 * Images
 */

.prose img {
  border-radius: 6px;
}
