/* 
 * Code blocks
 */

.prose code {
  color: black;
  font-weight: normal;
  font-size: 0.8125rem;
}
@media (prefers-color-scheme: dark) {
  .prose code {
    color: #e2e4e7;
  }
}

.prose :not(pre) code {
  padding: 2px 6px;
  margin: 0 2px;
  border-radius: 4px;
  background-color: #e3eaf2;
}
.prose :not(pre) code::before,
.prose :not(pre) code::after {
  content: '';
}

@media (prefers-color-scheme: dark) {
  .prose :not(pre) code {
    background-color: #182738;
  }
}

.prose code {
  counter-reset: line;
}

.prose code:not(.language-bash, .language-text) > .code-line::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  text-align: right;
  color: #8da1b9;
}

/* 
 * Images
 */

.prose img {
  border-radius: 6px;
}
