---
import PageLayout from '../layouts/PageLayout.astro';
import '../styles/global.css';
---

<PageLayout title="Uses" description="List of tools and apps I use.">
  <header class="mb-8">
    <h1 class="text-xl font-semibold text-black dark:text-white">Uses</h1>
    <p class="text-sm">Updated Jul 29, 2025.</p>
  </header>

  <article class="post">
    <ul>
      <li>
        <a href="https://cursor.com/">Cursor</a> - Here are my{' '}
        <a href="https://github.com/rbika/dotfiles-macos/tree/main/src/cursor">
          settings and keybindings
        </a>
        .
        <ul>
          <li>
            Theme -{' '}
            <a
              href="https://github.com/rbika/dotfiles-macos/blob/main/src/cursor/settings.json"
            >
              custom darker version
            </a>{' '}
            of the <a href="https://www.nordtheme.com/">Nord theme</a>.<br />
          </li>
          <li>
            Font -{' '}
            <a href="https://www.jetbrains.com/lp/mono/">JetBrains Mono</a>.
          </li>
        </ul>
      </li>
      <li>
        <a href="https://ghostty.org/">Ghostty</a> - Here is my{' '}
        <a
          href="https://github.com/rbika/dotfiles-macos/blob/main/src/zsh/.zshrc"
        >
          zsh config
        </a>.
        <ul>
          <li>
            Theme -{' '}
            <a href="https://github.com/rbika/iterm2-nord-dark">
              custom darker version
            </a>{' '}
            of the <a href="https://www.nordtheme.com/">Nord theme</a>.<br />
          </li>
          <li>
            Font -{' '}
            <a href="https://www.jetbrains.com/lp/mono/">JetBrains Mono</a>.
          </li>
        </ul>
      </li>
      <li>
        <a href="https://www.raycast.com/">Raycast</a> - Spotlight replacement.
      </li>
      <li>
        <a href="https://www.figma.com/">Figma</a> - When I need to do some simple
        edits.
      </li>
      <li>
        <a href="https://git-fork.com/">Fork</a> - Best Git client for macOS.
      </li>
      <li>
        <a href="https://www.google.com/chrome/">Google Chrome</a> /{' '}
        <a href="https://brave.com/"> Brave</a>{' '}
        - My preferred browsers.
      </li>
      <li>
        <a href="https://www.craft.do/">Craft</a> - Multi-platform note-taking app
        with markdown support.
      </li>
      <li>
        <a href="https://karabiner-elements.pqrs.org/"> Karabiner Elements </a>{
          ' '
        }
        - Keyboard customizer for macOS.
      </li>
      <li>
        <a href="https://www.apple.com/apple-music/">Spotify</a> - here are the playlists
        I've created to help me focus:
        <ul>
          <li>
            <a
              href="https://open.spotify.com/playlist/3u6aUCIH6npA3zOXHeQJOC?si=dadd481f53804d94"
            >
              Lo-fi
            </a>,{' '}
            <a
              href="https://open.spotify.com/playlist/4cRPEIeaz94yVZYwboI6GF?si=980541762b3149f3"
            >
              Piano
            </a>,{' '}
            <a
              href="https://open.spotify.com/playlist/5QezRTqZie4X8stoTIxL2M?si=b9e2c7e5438c4af4"
            >
              Soundtracks
            </a>,{' '}
            <a
              href="https://open.spotify.com/playlist/6IqMZm2bJk6DjPxev7Qiyo?si=ce7da77d71fb4a9a"
            >
              Synthwave
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="https://www.drawio.com/">Draw.io</a> - Diagrams application.
      </li>
      <li>
        <a href="https://keepingyouawake.app/">KeepingYouAwake</a> - Prevents your
        Mac from going to sleep.
      </li>
      <li><a href="https://chatgpt.com/">ChatGPT</a> - Daily assistant.</li>
      <li><a href="https://tomito.app/">Tomito</a> - Pomodoro timer.</li>
      <li><a href="https://www.postman.com/">Postman</a> - API client.</li>
    </ul>
  </article>
</PageLayout>
