---
import PageLayout from '../layouts/PageLayout.astro';
import '../styles/global.css';
---

<PageLayout title="Uses" description="List of tools and apps I use.">
  <header class="mb-8">
    <h1 class="text-xl font-semibold text-black dark:text-white">Uses</h1>
    <p class="text-sm">Updated Mar 22, 2025.</p>
  </header>

  <article class="post">
    <ul>
      <li>
        <a href="https://code.visualstudio.com/">VS Code</a> - Here are my{' '}
        <a
          href="https://github.com/rbika/dotfiles-macos/tree/master/src/vscode"
        >
          settings and keybindings
        </a>
        .
        <ul>
          <li>
            Theme -{' '}
            <a
              href="https://github.com/rbika/dotfiles-macos/blob/master/src/vscode/settings.json"
            >
              custom darker version
            </a>{' '}
            of the <a href="https://www.nordtheme.com/">Nord theme</a>.<br />
          </li>
          <li>
            Font -{' '}
            <a href="https://www.jetbrains.com/lp/mono/">JetBrains Mono</a>.
          </li>
        </ul>
      </li>
      <li>
        <a href="https://iterm2.com">iTerm2</a> - Here is my{' '}
        <a
          href="https://github.com/rbika/dotfiles-macos/blob/master/src/zsh/.zshrc"
        >
          zsh config
        </a>.
        <ul>
          <li>
            Theme -{' '}
            <a href="https://github.com/rbika/iterm2-nord-dark">
              custom darker version
            </a>{' '}
            of the <a href="https://www.nordtheme.com/">Nord theme</a>.<br />
          </li>
          <li>
            Font -{' '}
            <a href="https://www.jetbrains.com/lp/mono/">JetBrains Mono</a>.
          </li>
        </ul>
      </li>
      <li>
        <a href="https://www.raycast.com/">Raycast</a> - Spotlight replacement.
      </li>
      <li>
        <a href="https://www.figma.com/">Figma</a> - When I need to do some simple
        edits.
      </li>
      <li>
        <a href="https://git-fork.com/">Fork</a> - Best Git client for macOS.
      </li>
      <li>
        <a href="https://www.google.com/chrome/">Google Chrome</a> - My preferred
        browser.
      </li>
      <li>
        <a href="https://www.craft.do/">Craft</a> - Multi-platform note-taking app
        with markdown support.
      </li>
      <li>
        <a href="https://karabiner-elements.pqrs.org/"> Karabiner Elements </a>{
          ' '
        }
        - Keyboard customizer for macOS.
      </li>
      <li>
        <a href="https://www.apple.com/apple-music/">Spotify</a> - Music streaming.
      </li>
      <li>
        <a href="https://www.drawio.com/">Draw.io</a> - Diagrams application.
      </li>
      <li>
        <a href="https://keepingyouawake.app/">KeepingYouAwake</a> - Prevents your
        Mac from going to sleep.
      </li>
      <li><a href="https://chatgpt.com/">ChatGPT</a> - Daily assistant.</li>
    </ul>
  </article>
</PageLayout>
