---
import Container from './Container.astro';
---

<header>
  <Container>
    <div class="mb-7 flex items-center justify-between py-7">
      <a
        href="/"
        class="text-[22px] font-bold tracking-widest text-zinc-800 dark:text-white"
      >
        R Bika(s)
      </a>
      <nav class="flex justify-center gap-5 text-[13px] uppercase">
        <a href="/" class="duration-300 hover:text-white">Home</a>
        <a href="/uses" class="duration-300 hover:text-white">Uses</a>
      </nav>
    </div>
  </Container>
</header>
