@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a,
  .prose a {
    outline: none;
    @apply duration-300 underline underline-offset-2 decoration-gray-400 text-primary;
    @apply hover:decoration-gray-900 dark:hover:decoration-gray-100;
    @apply focus:decoration-gray-900 dark:focus:decoration-gray-100;
  }
}

@layer utilities {
  .bg-primary {
    @apply bg-zinc-50 dark:bg-black;
  }

  .bg-secondary {
    @apply bg-zinc-200 dark:bg-zinc-800;
  }

  .text-primary {
    @apply text-gray-900 dark:text-gray-100;
  }

  .text-secondary {
    @apply text-gray-500 dark:text-gray-400;
  }

  .animated-underline {
    position: relative;
  }
  .animated-underline:focus {
    outline: none;
    @apply text-primary;
  }
  .animated-underline:after {
    content: '';
    height: 1px;
    position: absolute;
    display: block;
    width: 0;
    bottom: -2px;
    background-color: currentColor;
    transition: width 0.2s ease-in-out;
    opacity: 0.75;
  }
  .animated-underline.active {
    @apply text-primary;
  }
  .animated-underline:hover:after,
  .animated-underline:focus:after,
  .active.animated-underline:after {
    width: 100%;
  }
}
